<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd"
        default-lazy-init="default">

	<context:component-scan base-package="com.iisquare.jw.demo.*" />

    <bean id="propertyConfigurer"
        class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:application.properties</value>
                <value>classpath:freemarker.properties</value>
                <value>classpath:jdbc.properties</value>
            </list>
        </property>
    </bean>
    
    <bean id="applicationConfiguration" class="com.iisquare.jw.frame.ApplicationConfiguration">
	    <property name="controllerNamePath" value="${application.controllerNamePath}" />
		<property name="characterEncoding" value="${application.characterEncoding}" />
		<property name="contentType" value="${application.contentType}" />
		<property name="defaultControllerName" value="${application.defaultControllerName}" />
		<property name="defaultActionName" value="${application.defaultActionName}" />
		<property name="defaultErrorController" value="${application.defaultErrorController}" />
		<property name="defaultErrorAction" value="${application.defaultErrorAction}" />
		<property name="defaultControllerSuffix" value="${application.defaultControllerSuffix}" />
		<property name="defaultActionSuffix" value="${application.defaultActionSuffix}" />
		<property name="allowPathParams" value="${application.allowPathParams}" />
		<property name="templateLoaderPath" value="${application.templateLoaderPath}" />
		<property name="templateSuffix" value="${application.templateSuffix}" />
		<property name="locale" value="${application.locale}" />
		<property name="dateTimeFormat" value="${application.dateTimeFormat}" />
    </bean>
    
    <bean id="freeMarkerConfigurer" class="com.iisquare.jw.frame.view.FreeMarkerConfigurer">
        <property name="applicationConfiguration" ref="applicationConfiguration" />
    </bean>
</beans>